# ---- Python bytecode ----
__pycache__/
*.py[cod]
*$py.class

# ---- Virtualenv ----
venv/
.venv/
env/

# ---- Pytest ----
.pytest_cache/

# ---- IDEs ----
.vscode/
.idea/

# ---- Allure ----
allure-results/
allure-report/

# ---- OS / Windows ----
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ---- Logs ----
*.log

# ---- Local configs / secrets ----
.env
config/*.local.ini
config/*.secret.ini
config/*.local.json
config/*.secret.json
testdata/*.local.json
testdata/*.secret.json